<ion-card>
  <ion-grid >
    <ion-row>
      <ion-col>
        <form #addUserForm="ngForm">
          <ion-item>
            <ion-label position="floating">name</ion-label>
            <ion-input id="name-input" name="firstname"
                       [(ngModel)]="name"
                       required
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">job</ion-label>
            <ion-input id="job-input" name="job"
                       [(ngModel)]="job"
                       required
            ></ion-input>
          </ion-item>
        </form>
        <ion-button id="add-user-button" expand="full"
                    (click)="addUser()" [disabled]="!addUserForm.form.valid"
                    class="add-button"
        >
          Save
          <ion-icon slot="end" name="log-in-outline"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-card>
